#index-banner {
  width: 100%;
  height: 100vh;
}

#index-banner canvas {
  /* position: absolute; */
  z-index: 0;
}

#index-banner .marquee {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
