#index-banner {
  width: 100%;
  height: calc(400px + 38.8vw);
}

#index-banner .dark-hover {
  position: absolute;
  width: 100%;
  height: calc(400px + 38.8vw);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

#index-banner canvas {
  /* position: absolute; */
  z-index: 0;
}

#index-banner .marquee {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
