.lbi-lbi-banner {
    position: relative;
    width: 100%;
    height: calc(350px + 38.8vw);
    overflow: hidden;
}

.lbi-lbi-banner img {
    width: 100%;
}

.lbi-lbi-intro, .lbi-web, .lbi-exhibition-info, .lbi-exhibition-photo {
    position: relative;
    width: 100%;
    display: flex;
}

.lbi-exhibition {
    position: relative;
    width: 100%;
}

.lbi-exhibition-photo img {
    width: 100%;
    margin: 40px 0 40px 0;
}

.lbi-lbi-intro h1, .lbi-web h1, .lbi-exhibition h1 {
    font-family: 'SF Display', "HelveticaNeue";
    font-weight: 900;
    font-size: calc(32px + 4.5vw);
    margin: 80px 0 40px 0;
    color: white;
    line-height: 1.2;
  }

.lbi-web {
    margin-top: 160px;
}

.lbi-web h1 {
    margin-top: 240px;
}

.lbi-web .five.columns {
    width: 41.25%;
}

.lbi-web .five.columns img {
    width: 100%;
}

.lbi-lbi-intro p, .lbi-web p, .lbi-exhibition p {
    font-family: 'SF Light', "HelveticaNeue";
    font-weight: 400;
    font-size: calc(16px + 0.9vw);
    line-height: 1.5;
    color: white;
    margin-top: 30px;
}

.lbi-web p {
    margin-right: 120px;
    pointer-events: all;
}

.lbi-web p a {
    color: #FFF500;
    text-decoration: none;
}

.lbi-web p a:hover {
    text-decoration: underline;
}

.project-lbi #trigger, .project-lbi #exhibition-trigger {
    position: relative;
    height: 1px;
}