.marquee {
  display: flex;
  width: 100%;
  margin-top: 140px;
}

.marquee .row {
  display: flex;
}

.marquee h1 {
  font-family: 'SF Display', "HelveticaNeue";
  font-size: 86px;
  margin: 0 0 0 0;
  color: white;
  line-height: 100px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
}

.marquee p {
  font-family: 'SF Text';
  font-size: 24px;
  line-height: 40px;
  color: white;
  margin-top: 72px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}
