.project-banner {
  position: relative;
  z-index: 1;
}

.project-banner img {
  width: 100%;
  height: 100%;
}

.cover-dark-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  bottom: 0;
  opacity: 0.85;
  z-index: 0;
}

.project-banner .project-info {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 168px;
}

.project-banner .project-info h1 {
  font-family: 'SF Display', "HelveticaNeue";
  font-weight: 900;
  font-size: 46px;
  margin: 0 0 0 0;
  color: white;
  line-height: 64px;
}

.project-banner .project-info p {
  font-family: 'SF Light', "HelveticaNeue";
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #ABABAB;
  margin-top: 30px;
}

.project-banner .project-info a {
  color: #FFF500;
}
