.project-banner {
  position: relative;
  z-index: 1;
}

.project-banner img {
  width: 100%;
  height: 100%;
}

.cover-dark-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.85);
  bottom: 0;
  opacity: 1;
  z-index: 0;
}

.project-banner .project-info {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 168px;
}

.project-banner .project-info h1 {
  font-family: 'SF Display', "HelveticaNeue";
  font-weight: 900;
  font-size: 108px;
  margin: 0 0 0 0;
  color: white;
  line-height: 1.2;
}

.project-banner .project-info p {
  font-family: 'SF Light', "HelveticaNeue";
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: white;
  margin-top: 30px;
}

.project-banner .project-info a {
  color: #FFF500;
}
