.cover {
  object-fit: cover;
}

.work-card {
  overflow: hidden;
  position:relative;
}

.work-card img {
  width: 100%;
  height: 100%;
}

.work-card h4 {
  font-family: 'SF Display';
  font-size: calc(32px + 4.5vw);
  margin: 0 0 0 0;
  color: white;
  line-height: 1.2;
  transition: color 350ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transition: color 350ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.work-card .card-info.light:hover h4 {
  color: #E61E4D;
}

.work-card .card-info:hover h4 {
  color: #FFF500;
}

.work-card .card-info {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: calc(12px + 1.65vw);
  /* transform: translateY(0px);
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); */
}

.card-info.light h4 {
  color: black;
}

.card-info.light p {
  color: black;
}

.card-info.light p.link-label {
  color: #E61E4D;
  text-decoration: none;
}

.work-card .card-info:hover p.link-label{
  text-decoration: underline;
}

.first-row .card-info {
  bottom: calc(40px + 4.7vw);
}

.second-row .card-info {
  margin-left: calc(320px + 32.9vw);
  bottom: calc(12px + 1.65vw);
}

.work-card p {
  font-family: 'SF Light';
  font-size: calc(16px + 0.9vw);
  line-height: 1.5;
  color: white;
  margin: 0 0 0 0;
}

.work-card p.time-label {
  font-family: 'SF Text';
  font-size: calc(12px + 0.7vw);
  line-height: 1.25;
  color: rgba(255,255,255,0.5);
  margin: 0 0 40px 0;
}

.card-info.light p.time-label {
  color: #9f9f9f;
}

.first-row .work-card p {
  margin-right: calc(160px + 28.2vw);
}

.second-row .work-card p {
  margin-right: calc(120px + 24.7vw);
}

.work-card p.link-label {
  font-family: 'SF Light';
  font-size: calc(16px + 0.9vw);
  line-height: 1.5;
  margin-top: 16px;
  color: #FFF500;
}

.work-tag {
  display: inline-block;
  border-radius: 90px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  margin-right: 20px;
}

.work-tag.design {
  border-color: #FFF500;
  background-color: rgba(255, 245, 0, 0.25);
}

.work-tag.dev {
  border-color: #FF00C7;
  background-color: rgba(255, 0, 199, 0.25);
}

.work-tag p {
  margin: 0 16px 0 16px;
}

.third-row.last .eight.columns {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .work-card .card-info p {
    display: none;
  }
}