.cover {
  object-fit: cover;
}

.work-card {
  overflow: hidden;
  position:relative;
}

.work-card img {
  width: 100%;
  height: 100%;
}

.work-card h4 {
  font-family: 'SF Display';
  font-size: 46px;
  margin: 0 0 0 0;
  color: white;
  line-height: 64px;
}

.work-card .card-info {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 60px;
}

.first-row .work-card .card-info {
  bottom: 220px;
}

.work-card p {
  font-family: 'SF Text';
  font-size: 24px;
  line-height: 40px;
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.first-row .work-card p {
  margin-right: 460px;
}

.third-row .work-card p {
  margin-top: 0px;
}

.work-card a {
  font-family: 'SF Light';
  font-size: 24px;
  line-height: 40px;
  color: #FFF500;
}

.work-tag {
  display: inline-block;
  border-radius: 90px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  margin-right: 20px;
}

.work-tag.design {
  border-color: #FFF500;
  background-color: rgba(255, 245, 0, 0.25);
}

.work-tag.dev {
  border-color: #FF00C7;
  background-color: rgba(255, 0, 199, 0.25);
}

.work-tag p {
  margin: 0 16px 0 16px;
}
