@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("/static/fonts/SF-UI-Display-Black.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: 900;
  src: url("/static/fonts/SF-UI-Text-Regular.otf");
}

body, html {
	touch-action: none;
	content-zooming: none;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

canvas {
	width: 100%;
	height: 100%;
	background:#000;
	cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.latest-work {
	display: flex;
	margin-top: 12px;
}

.latest-work .six.columns {
	width: 49.5%;
}

.latest-work .six.columns.right {
	margin-left: 1%;
}

h1, h4, h5, p {
  -webkit-font-smoothing: antialiased;
	pointer-events: none;
}
