@font-face { font-family: 'Gafata--Regular'; src: url('/static/fonts/Gafata-Regular.ttf'); }

body, html {
	touch-action: none;
	content-zooming: none;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

canvas {
	width: 100%;
	height: 100%;
	background:#000;
	cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.latest-work {
	display: flex;
	margin-top: 108px;
}

h1, h4, h5, p {
  user-select: none;
  -webkit-font-smoothing: antialiased;
	pointer-events: none;
}
